<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <aside>
      <div class="col-md-8">
        <%= render "shared/feed" %>
      </div> 
    </aside>
  </div>
<% else %>
<% end %>