<div class ="user">
  <%= link_to gravatar_for(lesson.user), lesson.user %>
</div><br>
<span class="content">
  Learned 20 words in Lesson "<%= lesson.name %>"
  -(<%= lesson.created_at.strftime("%b %d, %Y") %>)
</span>
<div class="clear"></div>