@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

li { 
  list-style: none 
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: -20px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.clear{
  clear: both;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.lessons {
  padding-left: 25px;
  margin: 0 auto;
  border-left: 1px solid #123456;
  width: 448px;
  min-height: 10px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.categories {
  list-style-type: none;
  li {  
    border: 1px solid $gray-medium-light;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .category-words {
    .category-word {
      margin-left: 5px;
      float: left;
    }   
  }

  .category-info {
    span {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .link-to-lesson {
    width: 15%;
    float: right;
  }
}

.manage-category {
  margin-top: 15px;
  a {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.admin-new-category {
  margin-bottom: 20px;
}

.category-form {
  display: none;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px #EAEAEA solid;
  padding: 10px;
  span {
    font-size: 20px;
    padding-bottom: 20px;
  }
}

.seperate {
  span {
    margin-right: 30px;
  }
}

.word_list
{
  padding-left: 20%;
  .form-control {
    display: inline;
  }
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
  select {
    width: 15%;
    height: 100%;
    margin-left: 10px;
    margin-right: 30px;
  }
  input {
    margin-right: 10px;
    margin-left: 5px;
  }
  input[type="submit"] {
    width: 10%;
    height: 90%;
    margin-left: 10px;
  }
}

.show_word  {
  div .pagination {
    margin: 0px 0px;
  }
  .body-content {
    margin-bottom: 20px;
    margin-top: 20px;
    .body-left {
      width: 45%;
      float: left;
    }
    .body-right {
      width: 45%;
      float: right;
    }
    .body-center {
      border-left: 1px solid $gray-medium-light;
      height: 700px;
      float: left;
      margin-left: 5%;
    }
  }
}

.table-content {
  table {
    width: 100%;
  }
}

.word_headings {
  th {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-medium-light;
  }
}

.word_row {
  td {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid $gray-medium-light;
  }
}

.answer input {
  width:  10%;
}

.result {
  text-align: center;
  margin: 0 auto;
  width: 400px;
  min-heigth: 50px;
  border: 1px solid black;
}

.user  {
  padding-top: 10px;
}

.show_home  {
  height:56px;
  width: 298px;
  margin: 0 auto;
  margin-bottom: -8px;
  input[type="submit"]  {
    float: right;
    margin-left:10px;
    width:110px;
  }
}

.learning {
  display: block !important;
}

.question {
  display: none;
  input {
    width: 30px;
  }
}

.results {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  div span {
    margin-top: 20px;
  }
  .result-info {
    text-align: center;
    margin-top: 30px;
    span {
      font-size: 30px;
    }
    strong {
      font-size: 20px;
      margin-left: 30px;
    }
  }

  .result-content {
    margin-top: 20px;
    table {
      width: 100%;
      tr {
        margin-bottom: 30px;
        border-bottom: 1px solid $gray-medium-light;
        td {
          width: 25%;
          padding-top: 10px;
          padding-bottom: 10px;
          text-align: center;
          span {
            font-size: 20px;
          }
        }
        th {
          width: 25%;
          padding-top: 15px;
          padding-bottom: 15px;
          text-align: center;
          span {
            font-size: 25px;
          }
        }
      }
    }
    input {
      float: left;
      margin-left: 25%;
      margin-top: 20px;
    }
  }
}

.list_lessons {
  margin-left: 20%;
  span {
    font-size: 20px;
  }
  table {
    width: 100%;
    td {
      width: 30%;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $gray-medium-light;
    }
  }
}

.new_lesson {
  margin-left: 40%;
  margin-top: 20px;
}

.question_form {
  margin-left: 30%;
  margin-top: 20px;
  margin-bottom: 10%;
  p {
    font-weight: bold;
    font-size: 40px;
  }
  span {
    margin-left: 50px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    font-size: 30px;
  }
  .radio_form {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    button {
      margin-left: 50px;
    }
  }
  button {
    margin-left: 50px;
  }
}

.show_home {
  margin-top: 20px;
}