<% provide(:title, "Category") %>
<div class="row">
  <h1>List all category</h1> 
  <ul class="categories">
    <%= render @categories %>
  </ul>  
  <%= will_paginate %>
  <div class="category-form">
    <span>Create new category</span>
    <%= render 'category_form' if logged_in? && current_user.admin? %>
  </div> 
</div>  